[user]
	name = Sam Stavinoha
	email = samuel.stavinoha@rackspace.com
[push]
	default = current
[hub]
	host = github.rackspace.com
	protocol = https
[alias]
        branches = branch -a -v --color
[format]
        pretty = '%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[github]
	host = https://github.rackspace.com
[color]
        ui = auto
